@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  --color-main-background: hsl(233, 47%, 7%);
  --color-card-background: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-white-opaque: hsl(0, 0%, 100%);
  --color-white-transparent75: hsla(0, 0%, 100%, 0.75);
  --color-white-transparent60: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-main-background);
}

.container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.card {
  background-color: var(--color-card-background);
  margin-top: 4rem;
  border-radius: 0 0 8px 8px;
}

.hero__img {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color-accent);
  background-image: url('images/image-header-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 8px 8px 0 0;
}

.col__two {
  margin: 2rem auto;
  width: 80%;
}

.hero__title {
  font-size: 1.6rem;
  color: var(--color-white-opaque);
  line-height: 1.2;
}

.hero__title--highlight {
  color: var(--color-accent);
}

.hero__text {
  margin: 1.3em auto;
  font-size: 0.9rem;
  color: var(--color-white-transparent75);
  line-height: 1.5;
}

.col__three {
  padding-bottom: 2rem;
}

.hero__stat {
  color: var(--color-white-opaque);
}

.hero__stats__heading {
  color: var(--color-white-transparent60);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  margin: 0.5em 0 1.4em 0;
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;
  color: var(--color-white-transparent60);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
  .container {
    max-width: 960px;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
    min-height: 40vh;
  }

  .row {
    width: 50%;
  }

  .hero__title {
    padding-top: 2rem;
  }

  .col__three {
    display: flex;
    width: 85%;
    justify-content: space-around;
    text-align: left;
    padding-top: 4rem;
  }

  .stat__group {
    margin-left: 3rem;
    width: 100%;
  }

  .hero__img {
    height: 100%;
    background-image: url('images/image-header-mobile.jpg');
    background-position: top;
    border-radius: 0 8px 8px 0;
  }

  .card {
    border-radius: 8px 0 0 8px;
  }

  .hero__title {
    text-align: left;
    font-size: 2rem;
  }

  .hero__text {
    text-align: left;
    width: 90%;
    margin: 1.3em 0 0 0;
  }
}
